.header {
  background-color: #000000;

}

.header__list {
  width: 1180px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
}

.header__list-item:hover {
  opacity: 60%;
}

.header__list-item:active {
  opacity: 30%;
}

.header__list-item--link {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

.header__list-item--calc {
  margin-left: auto;
}

.header__list-item--calc:hover {
  opacity: 60%;
}

.header__list-item--calc:active {
  opacity: 30%;
}
