# Игнорировать Python файлы кэша и временные файлы
*.pyc
__pycache__/
*.pyo
*.pyd

# Игнорировать виртуальные окружения
venv/
env/

# Игнорировать файлы миграций Django (если не хотите их хранить в репозитории)
# migrations/
# .migration/

# Игнорировать файлы настроек, если они содержат секретные данные
*.env
*.local
*.ini
settings.py.local

# Игнорировать файлы логов
*.log

# Игнорировать файлы IDE и редакторов
.idea/
.vscode/
*.sublime-workspace

# Игнорировать системные файлы
.DS_Store

# Игнорировать файлы базы данных SQLite, кроме db.sqlite3
*.sqlite
*.db
!db.sqlite3

# Игнорировать файлы сборки и зависимостей (если применимо)
build/
dist/
*.egg-info/

# Игнорировать файлы, сгенерированные Django
*.pot

# Игнорировать файлы, созданные при деплое
*.pyc
*.pyo
*.pyd
*.so

db.sqlite3