.calculator__buttons {
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 330px;
  height: 62px;
  background-color: #e5e7eb;
  border-radius: 35px;
}

.calculator__button {
  width: 100px;
  height: 50px;
  // padding: 10px 20px;
  border: solid transparent;
  border-radius: 35px;
  background-color: transparent;
  transition: all 0.3s ease;
  // transition: border-radius 0.3s ease, border 0.3s ease;
}


.calculator__button.active::after {
  opacity: 1;
}

.selected {
  border-color: #000000;
  background-color: #000000;
  color: #ffffff;
}



.deposit {
  // margin: 0 auto;
  margin-top: 20px;
  background: #ffffff;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.mb-4 {
  margin: 0 auto;
  background: #ffffff;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

input[type="range"] {
  width: 100%;
}

/* Стиль для самого ползунка */
input[type="range"] {
  -webkit-appearance: none; /* Убираем стандартное оформление */
  width: 100%; /* Ширина на всю доступную область */
  height: 8px; /* Высота ползунка */
  background: #ddd; /* Светлый серый фон */
  border-radius: 5px; /* Скругленные углы */
}

/* Стиль для ползунка (thumb) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Убираем стандартное оформление */
  width: 17px; /* Ширина ползунка */
  height: 17px; /* Высота ползунка */
  background: #152D47; /* Измените этот цвет на нужный */
  border-radius: 50%; /* Округлая форма ползунка */
  cursor: pointer; /* Указатель курсора при наведении */
}

/* Для Firefox */
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #152D47; /* Измените этот цвет на нужный */
  border-radius: 50%;
  cursor: pointer;
}


.buttons {
  display: flex;
  gap: 8px;
}

.buttons {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #e5e7eb;
  cursor: pointer;
}

.duration-btn {
  flex: 1;
  padding: 10px;
  // border: none;
  border: 1px;
  border-radius: 4px;
  background-color: #e5e7eb;
  cursor: pointer;
}


.buttons button.active {
  background-color: #152D47;
  color: white;
}

.offer {
  background: #e5e7eb;
  padding: 16px;
  border-radius: 8px;
  // margin-bottom: 10px;
  margin-top: 20px;
}

.offer div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

button.submit {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #152D47;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}








// Калькулятор кредита
.loan-container {
  // max-width: 800px;
  margin: 0 auto;
  background: #ffffff;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: none;

}
.loan-title {
  font-size: 26px;
  margin-bottom: 20px;
  color: #333;
}
.loan-input-group {
  margin-bottom: 18px;
}
.loan-label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  color: #444;
}
.loan-slider {
  width: 100%;
}
.loan-output {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 14px;
  color: #666666;
}
.loan-offer {
  background: #e5e7eb;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}
.loan-offer div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
}
.loan-submit {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 5px;
  background-color: #152D47;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;

}





// Калькулятор ипотеки
.mortgage-widget {
  // max-width: 900px;
  margin: 0 auto;
  background: #ffffff;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: none;
}
.widget-title {
  font-size: 26px;
  margin-bottom: 20px;
  color: #333;
}
.widget-input-group {
  margin-bottom: 18px;
}
.widget-label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  color: #444;
}
.widget-slider {
  width: 100%;
}
.widget-output {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 14px;
  color: #666;
}
.widget-summary {
  background: #e5e7eb;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}
.widget-summary div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
}
.widget-submit {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 5px;
  background-color: #152D47;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;

}

// .fingo__animation {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   // width: max-content;
//   height: 130px;
//   gap: 120px;
//   animation: fingo__scroll-left 6s linear infinite;
// }

.fingo__animation-img--sber {
  width: 250px;
  height: 80px;
}

.fingo__animation-img--alfa {
  width: 180px;
  height: 130px;
}


.fingo__animation-img--tbank {
  width: 250px;
  height: 100px;
}

.fingo__animation-img--paypal {
  width: 250px;
  height: 55px;
}

.fingo__animation-img--ozon {
  width: 250px;
  height: 120px;
}

.fingo__animation-img--usabank {
  width: 250px;
  height: 110px;
}

// @keyframes fingo__scroll-left {
//   from { transform: translateX(0); }
//   to { transform: translateX(-330px); }
// }

// .fingo__wrapper {
//   overflow: hidden; /* Прячем элементы, выходящие за границы */
//   width: 100%; /* Устанавливаем ширину контейнера */
// }

// .fingo__animation {
//   display: flex;
//   align-items: center;
//   gap: 200px;
//   width: max-content; /* Чтобы лента была длинной */
//   animation: fingo__scroll-left 6s linear infinite;
// }

// .fingo__animation img {
//   flex-shrink: 0; /* Запрещаем уменьшение */
// }

// @keyframes fingo__scroll-left {
//   from { transform: translateX(100%); }
//   to { transform: translateX(-100%); } /* Двигаем всю ленту влево */
// }

.fingo__animation {
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  // padding: 120px 0;
}

.fingo__animation {
  > * {
    flex: 0 0 100%;
  }
}

.fingo__animation-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  will-change: transform;
  animation: scrolling 10s linear infinite;
  padding-right: 120px;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

// .fingo__animation {
//   &:hover .fingo__animation-group {
//     animation-play-state: paused;
//   }
// }
