@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/
@import "_blocks/container";
@import "_blocks/footer";
@import "_blocks/header";
@import "calculator";

/*
  Ниже пример подключения других блоков

  Каждый новый файл должен отвечать за конкретный блок в терминах БЭМ
  (https://ru.bem.info/methodology/key-concepts/#%D0%B1%D0%BB%D0%BE%D0%BA)

  Для именования селекторов давайте придерживаться стиля two dashes
  (https://ru.bem.info/methodology/naming-convention/#%D1%81%D1%82%D0%B8%D0%BB%D1%8C-two-dashes)
  block-name__element-name--modificator
*/

/*
  Код ниже нужно удалить, он добавлен просто для примера
  Не стал выносить в отдельный файл, но если бы блок coming-soon действительно был бы нужен,
  то он должен был бы быть в файле _blocks/coming-soon.scss
*/

// .content {
//   flex-grow: 1;
//   flex-shrink: 0;
// }

// .container {
//   max-width: 1000px;
//   margin: 0 auto;
//   // padding: 0 20px;
// }

.slider {
  font-family: "Fira Sans", Arial, sans-serif;
  // margin: 50px auto;
  margin: 0 auto;
  // padding: 0 20px;
}

.slider__wrapper {
  overflow: hidden;
}


.slider__inner-wrapper {
  display: flex;
  height: 100%;
  transition: transform;
}

.slider__slide {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 665px;
  font-size: 24px;
  color: #fff;
}

.slider__slide:nth-child(4n + 1) {
  background-color: #0099ff;
}

.slider__slide:nth-child(4n + 2) {
  background-color: #45cb85;
}

.slider__slide:nth-child(4n + 3) {
  background-color: #f79824;
}

.slider__slide:nth-child(4n + 4) {
  background-color: #dc143c;
}

.slider__bottom-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__button {
  width: 45px;
  height: 45px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: transparent;
  font-size: 20px;
  transition: all 0.5s;
}

.slider__bottom-panel {
  position: absolute;
  width: 100%;
  top: 75%;
  transform: translateY(-50%);
  padding: 0 20px;
  z-index: 2;
  margin-top: 0;
}

// .slider__button {
//    z-index: 3;
// }

.slider__button:not(:disabled):hover,
.slider__button:not(:disabled):focus {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

.slider__button:disabled {
  opacity: 0.4;
  pointer-events: none;
  user-select: none;
}

.slider__dot {
  width: 10px;
  height: 10px;
  border: none;
  padding: 0;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: background-color 0.4s;
}

.slider__dot:not(:last-child) {
  margin-right: 5px;
}

.slider__dot_active {
  background-color: #000;
}

.slider__dot:not(.slider__dot_active):hover,
.slider__dot:not(.slider__dot_active):focus {
  background-color: gray;
}

.swiper {
  width: 500px;
  height: 300px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000000
}

.about-calc__list {
  display: flex;
  flex-direction: column;
}

.about-calc__list-item {
  display: flex;
  flex-direction: column;
}

.about-calc__list-item--group {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.about-calc__list-item--text {
  margin-left: 35px;
}

.about-calc__line {
  height: 1px;
  background-color: #152D47;
}

.total {
  width: 1000px;
  // height: 400px;
  margin: 0 auto;
}

.total__title {
  font-size: 30px;
  font-weight: 700;
  color: #152D47;
  margin-left: 40px;
}

.total__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.total__list-item {
  display: flex;
  align-items: center;
  height: 130px;
  column-gap: 25px;
}

// .total__list-div {
//   width: 500px;
//   height: 70px;
// }



.total__list-item--block-first {
  width: 130px;
  height: 70px;
  background-color: #152D47;
  border-radius: 10px;
}


.total__list-item--block-second {
  width: 300px;
  height: 70px;
  background-color: #152D47;
  border-radius: 10px;

}

.total__list-item--block-third {
  width: 500px;
  height: 70px;
  background-color: #152D47;
  border-radius: 10px;

}


.total__list-item--span {
  font-size: 21px;
  font-weight: 600;
}

.total__list-item--text {
  font-size: 17px;
  font-weight: 500;
  color: #383838;
}

.total__line {
  height: 1px;
  background-color: #152D47;
  margin-top: 30px;
}

// .total__background {
//   position: absolute;
//   left: 0;
//   width: 100%;
//   z-index: -1;
//   height: 400px;
// }

// .total__background-wave {
//   display: block;
//   width: 100%;
//   height: auto;
// }



// body {
//   margin: 0;
//   padding: 0;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   background-color: #f0f0f0;
// }

// canvas {
//   border: 1px solid #000; // Это поможет увидеть <canvas>
// }
