<header class="header">
  <ul class="header__list container">
    <li class="header__list-item">
      <a href="index.html" class="header__list-item--link">ФинGo</a>
    </li>
    <li class="header__list-item--article">
      <a href="article.html" class="header__list-item--link">Статьи</a>
    </li>
    <li class="header__list-item--calc">
      <a href="calculator.html" class="header__list-item--link">Калькулятор</a>
    </li>
    <li class="header__list-item">
      <a href="" class="header__list-item--link">О нас</a>
    </li>
  </ul>
</header>
